*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    margin-left: 10px;
}

.container h1 {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    margin-bottom: 10px;
}

.container h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
    
}

#show {
    padding: 10px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    color: blue;
}


