﻿
@{
    ViewBag.Title = "Student";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">


    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <br>
        <h1 class="text-success text-center"> Registration Form</h1>
        </br>
        <div class="col-lg-10 m-auto d-block">
            <form name="myForm" action="#">

                <!-- First name -->

                <div class="form-group">
                    <label name="first_name">First Name:</label>
                    <input type="text" name="user" class="form-control" id="fname" autocomplete="off">
                    <span id="errorfname" style="color:red; font-weight:bold;"></span>
                </div>


                <!-- middle_name -->

                <div class="form-group">
                    <label name="middle_name">Middle Name:</label>
                    <input type="text" name="user" class="form-control" id="mname" autocomplete="off">

                </div>


                <!-- last_name -->

                <div class="form-group">
                    <label name="last_name">Last Name:</label>
                    <input type="text" name="user" class="form-control" id="lname" autocomplete="off">
                    <span id="errorlname" style="color:red; font-weight:bold;"></span>
                </div>

                <!-- Email Address -->

                <div class="form-group">
                    <label name="email_add">Email:</label>
                    <input type="text" name="mail" class="form-control" id="email" autocomplete="off">
                    <span id="erroremail" style="color:red; font-weight:bold;"></span>
                </div>

                <!-- Mobile Number -->

                <div class="form-group">
                    <label name="mobile_no">Mobile Number:</label>
                    <input type="text" name="mobile" class="form-control" id="mobileno" autocomplete="off">
                    <span id="errormobileno" style="color:red; font-weight:bold;"></span>
                </div>


                <!-- Gender -->

                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1" name="g">
                        Gender:<br>
                        <input type="radio" class="form-check-input" id="male" name="gender" value="male">Male
                    </label>
                    <span id="errormale"></span>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                        <br>
                        <input type="radio" class="form-check-input" id="female" name="gender" value="female">Female
                    </label>
                    <span id="errorfemale"></span>
                </div>




                <div class="form-group">
                    <label name="course">Higher Education:</label>
                    <select class="form-control" id="highereducation" name="highereducation">
                        <option value="">-Select Course-</option>
                        <option>High School</option>
                        <option>Intermediate</option>
                        <option>B.Tech.</option>

                        <option>M.Tech</option>

                    </select>
                    <span id="errorhighereducation"></span>
                </div>



                Subscribe for Email:
                <div class="form-check">
                    <label class="form-check-label" for="check1">
                        <input type="radio" class="form-check-input" id="yes" name="option" value="yes">Yes
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>

                    <label class="form-check-label" for="check2">
                        <input type="radio" class="form-check-input" id="no" name="option" value="no">No
                    </label>
                </div>




                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" rows="1" id="address" autocomplete="off"></textarea>
                    <span id="erroraddress" style="color:red; font-weight:bold;"></span>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="call();">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>


                <h3>Registration Form Table</h3>
                <table class="table table-bordered" id="show">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile No</th>
                            <th>Gender</th>
                            <th>Higher Education </th>
                            <th>Subscribe</th>
                            <th>Address</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </form>

        </div>
    </div>


    <script type="text/javascript" src="validation.js"></script>

</body>
</html>



