﻿@model IEnumerable<WebApplication4.Models.EmployeeModel>

<p>
    @Html.ActionLink("Add New Employee", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmpID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.EmpID }) |
        @Html.ActionLink("Delete", "DeleteEmp", new { id = item.EmpID }, new { onclick = "return confirm('Are sure wants to delete?');" })
    </td>
</tr>
}

</table>
