﻿@model CrudWebApplication1.Models.Employee
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="Emp_name" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Department</label>
        <input asp-for="Department" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
Copy
For handling business logic, Open HomeController and write the following code snippet.

 public IActionResult Create()
{
  return View();
}
[HttpPost]
public IActionResult Create([Bind] Employee emp)
   {
     try
      {
        emp.flag = "insert";
        dbop.Empdml(emp, out msg);
        TempData["msg"] = msg;
       }
      catch (Exception ex)
       {
         empData["msg"] = ex.Message;
       }
       return RedirectToAction("Index");
}
