﻿@model CrudWebApplication1.Models.Employee
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="Emp_name" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Department</label>
        <input asp-for="Department" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

