﻿@model IEnumerable<WebApplication1.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped" style="width=60%">
    <tr>
        <th>EmployeeID</th>
        <th>EmployeeName</th>
        <th>Department</th>

    </tr>
    <tbody>
        @if(Model!= null)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.Department</td>
                </tr>
            }

        }
        
    </tbody>
</table>

