﻿
@{
    ViewBag.Title = "viewdatastudent";
}

<h2>viewdatastudent</h2>

<ul>
    @foreach (var strstudent in (IList<string>)ViewData["students"])
    {
        <li>
            @strstudent
        </li>
    }
</ul>