﻿@model WebApplication2.Models.Loginview
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>

}

