﻿@model WebApplication1.Models.user
@{
    ViewBag.Title = "create";
}

<h2>create</h2>

<form method="post" action="/student/create">
    <label>studentName:</label>
    @Html.TextBoxFor(X => X.studentName)
    <br />
    <br />
    <label>Password:</label>
    @Html.TextBoxFor(X => X.Password)
    <br />
    <br />
    <input type="submit" value="submit" />
</form>





