﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="/student/Login">
    <label>Enter StudentName</label><br />
    <input type="text" name="studentName" /><br />

    <label>Enter Password</label><br />
    <input type="text" name="Password" /><br />

    <input type="submit" value="Login" />

</form>

